trigger: none
pool: default

stages:
  - stage: StaticCodeAnalysis
    displayName: Static Code Analysis
    jobs:
      - job: SonarQubeAnalysis
        displayName: Static Code Analysis(SonarQube)
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: 'sonar-scanner.bat -D"sonar.projectKey=backend-todo"  -D"sonar.sources=." -D"sonar.host.url=http://localhost:9000" -D"sonar.token=$(token)"'
  - stage: CodeQualityChecks
    displayName: Code Quality Checks & Linting
    jobs:
      - job: Lintingcheck
        displayName: Linting check(ruff)
        steps:
        - task: PowerShell@2
          continueOnError: true
          inputs:
            targetType: 'inline'
            script: 'ruff check'
  - stage: PublishArtifacts
    displayName: Publish Artifacts
    jobs:
      - job: Publish
        displayName: Publish
        steps:
        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/app.py'
            artifact: 'todoBackend_artifact'
            publishLocation: 'pipeline'
  - stage: DeploytoVm
    displayName: Deploy to Vm
    jobs:
      - deployment: Deploy
        environment:
         name: backend
         resourceType: virtualmachine
        strategy:
         runOnce:
           deploy:
             steps:
             - task: DownloadPipelineArtifact@2
               inputs:
                 buildType: 'current'
                 artifactName: 'todoBackend_artifact'
                 targetPath: '$(Pipeline.Workspace)'
             - task: Bash@3
               inputs:
                 targetType: 'inline'
                 script: |
                   sudo systemctl stop uvicorn
                   rm /home/samadmin/PyTodoBackendMonolith/app.py
                   sudo cp $(Pipeline.Workspace)/app.py /home/samadmin/PyTodoBackendMonolith/app.py 
                   sudo systemctl start uvicorn