trigger: none
pool: default

stages:
  - stage: SoftwareComponentAnalysis
    displayName: Software Component Analysis
    jobs:
      - job: DependencyVulnerabilityScan
        displayName: Dependency Vulnerability Scan
        steps:
        - task: WhiteSource@21
          inputs:
            cwd: '$(System.DefaultWorkingDirectory)'
            projectName: 'Todo-Backend-Monolith'
        

