trigger: none
pool: default

stages:
  - stage: StaticCodeAnalysis
    displayName: Static Code Analysis
    jobs:
      - job: SonarQubeAnalysis
        displayName: Static Code Analysis(SonarQube)
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              pip install pysonar
              pysonar \
                --sonar-host-url=http://localhost:9000 \
                --sonar-token=$(token) \
                --sonar-project-key=backend-todo

        
