trigger: none
pool: default

stages:
  - stage: StaticCodeAnalysis
    displayName: Static Code Analysis
    jobs:
      - job: SonarQubeAnalysis
        displayName: Static Code Analysis(SonarQube)
        steps:
        - task: PowerShell@2
          inputs:
            targetType: 'inline'
            script: |
              pysonar \
              --sonar-host-url=http://localhost:9000 \
              --sonar-token=sqp_87d49327a06d7ddb5e444b9cb711bd5169752a8 \
              --sonar-project-key=backend-todo

        
