trigger: none
pool: default

stages:
  - stage: SoftwareComponentAnalysis
    displayName: Software Component Analysis
    jobs:
      - job: DependencyVulnerabilityScan
        displayName: Dependency Vulnerability Scan
        

